In [213]:
import pandas as pd

In [250]:
data = pd.read_csv('data.csv', parse_dates=['dateAdded', 'dateUpdated', 'menus.dateSeen'])
data.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [215]:
data.dtypes

id                                object
address                           object
categories                        object
city                              object
cuisines                          object
dateAdded            datetime64[ns, UTC]
dateUpdated          datetime64[ns, UTC]
latitude                         float64
longitude                        float64
menus.category                    object
menus.currency                    object
menus.dateSeen                    object
menus.description                 object
menus.name                        object
name                              object
province                          object
dtype: object

In [216]:
data.describe().loc['mean'].round(2)

latitude     36.69
longitude   -98.71
Name: mean, dtype: float64

In [217]:
data.dropna().shape

(1925, 16)

In [218]:
data.query('city == "California" and province == "MO" and name == "Taco Bell"').index

Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939], dtype='int64')

In [219]:
result = data.query('(city == "New York" or name == "Taco Bell") and not `menus.name`.'
                    'str.contains("Volcano Taco|Fresco Soft Taco", na=False)')
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28 06:01:51+00:00,2017-06-27 10:01:48+00:00,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28 06:01:51+00:00,2017-06-27 10:01:48+00:00,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28 06:01:51+00:00,2017-06-27 10:01:48+00:00,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
135,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28 06:01:51+00:00,2017-06-27 10:01:48+00:00,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Grilled Steak Soft Taco,Taco Bell,NH
136,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28 06:01:51+00:00,2017-06-27 10:01:48+00:00,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Crunchy Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19 20:44:15+00:00,2016-08-22 11:24:07+00:00,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19 20:44:15+00:00,2016-08-22 11:24:07+00:00,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19 20:44:15+00:00,2016-08-22 11:24:07+00:00,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19 20:44:15+00:00,2016-08-22 11:24:07+00:00,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19 20:44:15+00:00,2016-08-22 11:24:07+00:00,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

In [220]:
result = data[~data['menus.currency'].isna()]
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05 20:15:56+00:00,2017-07-06 13:28:29+00:00,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05 20:15:56+00:00,2017-07-06 13:28:29+00:00,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05 20:15:56+00:00,2017-07-06 13:28:29+00:00,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26 17:39:41+00:00,2016-08-26 05:25:56+00:00,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26 17:39:41+00:00,2016-08-26 05:25:56+00:00,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [221]:
data['categories'].dtypes

dtype('O')

In [222]:
data[['categories']].dtypes

categories    object
dtype: object

In [223]:
data.groupby('city', as_index=False).agg(count=pd.NamedAgg(column='id', aggfunc='count')).sort_values(by='count',
                                                                                                      ascending=False)

               city  count
2829      San Diego   1924
1827    Los Angeles   1603
569         Chicago   1186
2832  San Francisco   1120
2229       New York   1085
...             ...    ...
563    Chesterfield      1
2189          Nephi      1
1168        Glasgow      1
2932         Sequim      1
434         Cameron      1

[3601 rows x 2 columns]

In [224]:
result = data.query('name == "Taco Bell"').groupby('city', as_index=False).agg(
    count=pd.NamedAgg(column='id', aggfunc='count')).sort_values(by='count', ascending=False)['city'].head(5)
result

51     Indianapolis
30         Columbus
21       Charleston
117           Tampa
42           Fresno
Name: city, dtype: object

In [225]:
data[data['dateAdded'].dt.month == 10].head(5).index

Index([2, 21, 22, 23, 24], dtype='int64')

In [226]:
result = data.groupby(data['dateAdded'].dt.month).agg({'id': 'nunique'})
result

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [227]:
data['update_delta'] = (data.dateUpdated - data.dateAdded).dt.days
result = data.groupby('city', as_index=False).agg({'update_delta': 'mean', 'latitude': 'max'})
zep_mean = result[result['city'] == 'Zephyrhills'].update_delta.iloc[0]

In [228]:
data.query('categories.str.contains("Pizza", na=False)').iloc[2]

id                                                AVwc_59U_7pvs4fz1Md3
address                                               3250 Kennedy Cir
categories           Pizza,Take Out Restaurants,Caterers,Restaurant...
city                                                           Dubuque
cuisines                                                         Pizza
dateAdded                                    2016-03-29 04:45:06+00:00
dateUpdated                                  2016-05-05 12:40:51+00:00
latitude                                                     42.505264
longitude                                                    -90.72141
menus.category                                                     NaN
menus.currency                                                     NaN
menus.dateSeen               2016-05-05T12:40:51Z,2016-03-29T04:45:06Z
menus.description                                                  NaN
menus.name                                                Taco Supreme
name                                               Falbo Bros Pizzeria
province                                                            IA
update_delta                                                        37
Name: 66, dtype: object

In [229]:
data.update_delta.describe().round(2).loc[['mean', '50%']]

mean    326.22
50%     364.00
Name: update_delta, dtype: float64

In [230]:
data

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,336
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,24
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California,0
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California,0
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California,0
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California,0
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California,0

In [243]:
data['categories_count'] = data.categories.str.split(',').apply(lambda x: len(x))
result = data.query('categories_count > 20').groupby('province', as_index=False).agg(
    {'longitude': lambda x: round(x.min(), 3)})
result

        province  longitude
0             AZ   -110.136
1             CA   -122.417
2             DC    -77.075
3          G P O    -73.990
4             KY    -87.455
5             MA    -71.055
6             MD    -77.453
7             NY    -76.794
8   St Simons Is    -81.394
9             TX    -94.939
10            VA    -77.093
11            WA   -122.383
12            WI    -89.377

In [246]:
result.to_csv('hw_data.csv', sep=';', index=False)

In [242]:
shit = pd.read_csv('hw_data.csv', sep=';')
shit

         province  longitude
0              AL    -87.586
1              AR    -92.379
2              AZ   -112.292
3              CA   -122.444
4              CO   -105.258
5              CT    -73.405
6              DC    -77.075
7              FL    -81.695
8           G P O    -73.990
9              GA    -84.396
10             ID   -116.367
11             IL    -89.650
12             IN    -86.157
13             KS    -95.234
14             KY    -87.455
15             LA    -91.992
16     Long Beach    -74.134
17             MA    -72.509
18             MD    -77.453
19             MI    -83.749
20             MN    -97.028
21             MO    -94.666
22             MT   -113.995
23             NC    -80.850
24             NJ    -74.445
25             NV   -115.078
26             NY    -77.630
27         Naples   -118.116
28    No Bethesda    -77.141
29        Ny City    -73.996
30             OH    -84.139
31             OK    -97.599
32             OR   -123.075
33             PA    -76.885
34    Playa Vista   -118.395
35  Porter Square    -71.119
36             RI    -71.486
37             SC    -82.399
38   St Simons Is    -81.394
39             TN    -85.844
40             TX    -99.071
41             UT   -111.642
42             VA    -77.108
43    Vadnais Hts    -93.007
44             WA   -122.383
45             WI    -89.510
46             WV    -81.666
47      Wadsworth    -88.160
48           Wilm    -77.829