In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
plt.rcParams["figure.facecolor"] = "w"

sns.set_style('whitegrid')

#### Иллюстрация про разбиение пользователей

In [3]:
users = ['user_id_1', 'user_id_2', 'user_id_3', 'user_id_4', 'user_id_1']

df = pd.DataFrame.from_dict({'user': users})

In [4]:
df

        user
0  user_id_1
1  user_id_2
2  user_id_3
3  user_id_4
4  user_id_1

In [5]:
import hashlib

salt = 'my_first_experiment'
user = 'my_user_id'

value_str = user + salt
value_num = int(hashlib.md5(value_str.encode()).hexdigest(), 16)
value_num % 100

86

In [6]:
value_str = user + salt
value_num = int(hashlib.md5(value_str.encode()).hexdigest(), 16)
value_num % 100

86

In [7]:
def get_group(user, salt, group_count):
    value_str = user + salt
    value_num = int(hashlib.md5(value_str.encode()).hexdigest(), 16)
    return value_num % group_count

In [8]:
df['group'] = df.user.apply(lambda user: get_group(user, salt, 4))
df

        user  group
0  user_id_1      0
1  user_id_2      1
2  user_id_3      3
3  user_id_4      1
4  user_id_1      0